html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 54px;
    margin-bottom: 110px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.greeting {
    font-size: 1.1em;
}

.pagination {
    margin-bottom: 15px;
}

.btn-primary, .btn-info {
    box-shadow: 1px 2px 5px #000000;
    margin: 5px 3px;
}

.social {
    padding-bottom: 25px;
    padding-top: 12px;
}

.social a {
    padding: 6px;
}

.social a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.img-fluid:hover {
    opacity: 0.7;
}

.ddImg {
    padding-left: 15px;
    max-width: 170px;
    padding-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

/* ---------------- */

.sidebar {
    position: fixed;
    top: 450px;
    bottom: 240px;
    right: 0;
    width: 100px;
    transition: transform 0.3s ease-out;
}

.sidebar.is-hidden {
    transform: translateX(300px);
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar li {
    list-style: none;
}

.sidebar a {
    display: block;
    padding: 1em 1.5em;
    text-decoration: none;
}

.sidebar a:hover {
    opacity: 0.7;
    text-decoration: none;
}